# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

# Do not include anything inside .vscode/*
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json

*.code-workspace

# Local History for Visual Studio Code
.history/

*.bak

*.txt
!LICENSE.txt
!README.txt

# ignore log files and databases
*.log
*.sql
*.sqlite
